.sign-up{
    background-color: #06B6D4;
    color: white;
}
.sign-up:hover{
    background-color:#66A1FD ;
}
.worker:hover{
    background-color:#66A1FD ;
    color: #fff;
}
.hide-acount-type{
    display:none;
}