.sign-up{
    background-color: rgb(21 94 117);
    color: white;
}
.sign-up:hover{
    background-color:#7e858d ;
}
.worker:hover{
    background-color:#7e858d ;
    color: #fff;
}
.hide-acount-type{
    display:none;
}