.active-nav{
    background-color: rgb(21 94 117);
    color: white;
}
.doctor-profile-nav:hover{
    background-color: rgb(107 114 128);
}
.active-nav:hover{
    background-color: #a0aec0;
    
}
.doctor-profile-nav{
    width: 100%;
}
